html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	background-color: #333;
}

.control-panel {
	position: fixed;
	display: flex;
	background-color: #fff;
	justify-content: space-between;
	bottom: 0;
	left: 0;
	right: 0;
}

.control-panel button,
.control-panel input {
	margin: .5rem;
}

.control-panel input {
	margin-right: auto;
}

#content3d {
	height: 100%;
}